body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}


.thumbnail img {
    height: 250px;
    width: auto;
    horiz-align:left;
}

.thumbnail a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thumbnail p {
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thumbnail h4 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.book-card-name{
    font-family: "Verdana","sans-serif";
    font-weight: 900;
    font-size:1.1em;
    color: black;
}

.book-card-author{
    font-style: italic;
    color: grey;
}

.book-card-price{
    font-family: "Verdana","sans-serif";
    color: firebrick;
}